<template>
  <div class="hello">
    <html>
      <head>
        <meta charset="utf-8" />
      </head>
      <body></body>

      <table>
        <tr>
          <th
            style="width: 250px; text-align: center; height: 80px"
            v-katex="'\\mathrm{\\frac {1} {3}  }'"
          ></th>
          <th
            style="
              width: 250px;
              text-align: center;
              height: 80px;
              background: #ffce08;
            "
          >
            Ułamki niewłaściwe
          </th>
          <th
            style="
              width: 250px;
              text-align: center;
              height: 80px;
              background: #ffce08;
            "
          >
            Liczby mieszane
          </th>
        </tr>
        <tr>
          <th style="height: 80px; width: 250px"></th>
          <td style="height: 80px; width: 250px"></td>
          <td style="height: 80px; width: 250px"></td>
        </tr>
        <tr>
          <th style="height: 80px; width: 250px"></th>
          <td style="height: 80px; width: 250px"></td>
          <td style="height: 80px; width: 250px"></td>
        </tr>
        <tr>
          <th style="height: 80px; width: 250px"></th>
          <td style="height: 80px; width: 250px"></td>
          <td style="height: 80px; width: 250px"></td>
        </tr>
        <tr>
          <th style="height: 80px; width: 250px"></th>
          <td style="height: 80px; width: 250px"></td>
          <td style="height: 80px; width: 250px"></td>
        </tr>
      </table>
    </html>
  </div>
</template>

<script>
import Vue from "vue";
import VueKatex from "vue-katex";
import "katex/dist/katex.min.css";
Vue.use(VueKatex);
export default {
  name: "HelloWorld",
  props: {
    msg: String,
  },
  data() {
    return {
      videoId: "xvpJArwGKJ4",
    };
  },
  methods: {
    playVideo() {
      this.player.playVideo();
    },
    playing() {
      console.log("essa");
    },
  },
  computed: {
    player() {
      return this.$refs.youtube.player;
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>
table {
  font-family: "Myriad Pro";
  border-collapse: collapse;
  width: 1800px;
  height: 400px;
  font-size: 45px;
  border: 5px solid;
}

td,
th {
  border: 3px solid;
  text-align: center;
  padding: 8px;
}
</style>
